h1 {
    text-align: center;
}

div {
    text-align: center;
}

#unseen {
    display: none;
}

#new-game {
    width: 100%;
}

#leftbox { 
    float:left;
    width:50%; 
} 

#rightbox{ 
    float:right;
    width:50%;
} 

#event {
    text-align: center;
    font-weight: bold;
    
}

ul {
    text-align: center;
    list-style-type: none;
    margin-top: 0px
}

.items-table {
    float: left;
    width: 10%;
    border: 1px solid red;
    margin-right: 10px

}

.skills-table {
    float: left;
    width: 10%;
    border: 1px solid red
}

.choices-ul {
    float: right;
    width: 75%;
    border: 1px solid red
}

.name {
    font-weight: bold;
}

li {
    margin-bottom: 1em
}

th {
    border-bottom: 1px solid red;
}