body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;
}

h1 {
    text-align: center;
}

#main { text-align: center; }

#player-info {
    background-image: url('backgrounds/actions.png');
    background-repeat: no-repeat;
    top: 5px;
    left: 0px;
    position: absolute;
    overflow: auto;
    width: 250px;
    height: 290px;
    display: none;
}

#action-menu {
    width: 90%;
    height: 90px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-family: 'Roboto Mono', monospace;
    font-size: 8pt;
}

#action-toggle-menu{
    background-image: url('backgrounds/actiontoggle.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
    position: absolute;
    display: none;
}

#print-skills{
    display: none;
    height: 200px;
}

#print-items{
    display: none;
    height: 200px;
}

#print-attributes{
    display: none;
    height: 200px;
}

#list-them {
    text-align: center;
    width: 94%;
    height: 78%;
    margin-top: 32px;
    margin-left: 7px;
    border-top: 1px dashed black;
}

#complete {
    color: #b75166;
}

#list-them tr {
    height: 15%;
    font-family: 'Roboto Mono', monospace;
    font-size: 7pt;
    text-transform: uppercase;
}

#close-window {
    width: 95%;
}

#close-window-con {
    position: absolute;
    top: 5px;
    left: 7px;
}

#cells {
    width:30%;
}

#skills-icon {
    width: 30px;
    height: auto;
}

#bag-icon {
    width: 30px;
    height: auto;
}

#attr-icon {
    width: 30px;
    height: auto;
}

#gameplay {
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}

#unseen {
    display: none;
}

#leftbox { 
    float:left;
    width:50%; 
} 

#rightbox{ 
    float:right;
    width:50%;
}

#player-name {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 2px 2px black

    
}

#player-img {
    width: 236px;

}

#other-img {
    width: 236px
}

/* #story{
    background-image: url('backgrounds/storybox.png');
    background-repeat: no-repeat;
    background-size: auto;
} */

#event-string {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 10pt;
    width: 75%;
    height: 300px;
    margin-left:auto; 
    margin-right:auto;  
    background-image: url('backgrounds/storybox.png');
    background-repeat: no-repeat;
    background-size: auto; 
    display: block;
}

ul {
    text-align: center;
    list-style-type: none;
}

.choices-ul {
    width: 87%;
    display: table;
}

.name {
    font-weight: bold;
}

li {
    margin-bottom: 1.5em;
    font-family: 'Roboto Mono', monospace;
    font-size: 9pt;
    background-color: #362f2d;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    display: caption;
    padding: 3px;
    border: solid 3px #ffffff;
}

li:hover{
    background-color: #b75166;
}

th {
    border-bottom: 1px solid red;
}